---
layout: default
title: Home
notitle: true

# groups of columns of {roles: list, width: num, image: bool}
role-tables:
- - roles: [faculty, postdoc, staff]
    width: 4
    image: true
  - roles: [grad]
    width: 8
    image: true
- - roles: [collab, ugrad, ugrad-alum]
    width: 5
    image: false
  - roles: [alum]
    width: 7
    image: false

---

<div class="jumbotron">
    <p>
        <b>成都，这座充满魅力的城市，位于中国西南部的四川省，是四川省的省会，也是一座超大城市和国家中心城市。</b>地处四川盆地西部边缘，地势由西北向东南倾斜。西部以深丘和山地为主，东部则主要由平原、台地和部分低山丘陵组成，是成都平原的腹心地带</b>。属亚热带季风气候区，热量充足，雨量丰富，四季分明，雨热同期。<b></b></b> 
    </p>
    <p>
    The <b>Chengdu, a city full of charm, is located in Sichuan Province in southwest China. It is the capital of Sichuan Province and also a megacity and national central city. It is located on the western edge of the Sichuan Basin, and the terrain slopes from northwest to southeast. The western region is dominated by deep hills and mountains, while the eastern region is mainly composed of plains, terraces, and some low mountains and hills, making it the heartland of the Chengdu Plain. It belongs to the subtropical monsoon climate zone, with sufficient heat, abundant rainfall, four distinct seasons, and simultaneous rain and heat.
    </p>
</div>

<script
	type="module"
	src="https://gradio.s3-us-west-2.amazonaws.com/4.41.0/gradio.js"
></script>History view
成都是中国西南地区的一个重要城市，拥有丰富的历史和文化遗产。

<gradio-app src="https://PhoenixQin-PhoenixQin.hf.space" theme_mode="light"></gradio-app>

<gradio-app src="https://xiaohang07-mattergpt-cpu.hf.space" theme_mode="light"></gradio-app>


<section>
    <h2>News</h2>
    <ul class="news list-unstyled">
        {% for post in site.posts limit: site.front_page_news %}
            {% include news-item.html item=post %}
        {% endfor %}
    </ul>
    {% assign numposts = site.posts | size %}
    {% if numposts >= 1 %}
        <p>
            <span class="fa fa-fw fa-history"></span>
            <a href="{{ site.base }}/blog.html">Older posts&hellip;</a>
        </p>
    {% endif %}
</section>


<div id="people">
    <h2>People</h2>
    {% for role-table in page.role-tables %}
        <section class="people row justify-content-between">
            {% for role-column in role-table %}
                <div class="col-md-{{ role-column.width }}">
                    {% for role in role-column.roles %}
                        {% include role-people.html role=role image=role-column.image %}
                    {% endfor %}
                </div>
            {% endfor %}
        </section>
    {% endfor %}
</div>
